<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Three</title>
</head>
<body>
    <div class="center-text">
        <h2>List of Students with A+ and not C+:</h2>
        <table class="center-table">
            <thead>
                <tr>
                    <th>First Name</th><th>Last Name</th><th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for item in student_courses %}
                <tr>
                    <td>{{item.student.first_name}}</td><td>{{item.student.last_name}}</td><td>{{item.grade}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>